@media screen and (max-width: 991px) {
    .main-container .h1, h1 {
        font-size: 1.7em;
        margin-top: 0.75em;
    }
}


.main-container {
    padding: 64px;
    margin-right: auto;
    margin-left: auto;
}