@import "../../../styles.scss";

.heading-container {
    @include flexBox();
    @include alignItems(center);
    span {
        padding-left: 8px;
        font-size: 2em;
    }
    
}

mat-divider {
    margin-top: 12px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #af3c43;
}

mat-card.mortgage-card {
    padding: 0;
    background: white;
    width: 50%;
    border: 1px solid #2572b4;
    box-shadow: none !important;
    mat-card-header {
        color: #fff;
        background-color: #2572b4;
        border-color: #2572b4;
        height: 42px;
        @include alignItems(center);
        mat-card-title {
            margin: 0;
        }
    }
}

mat-form-field {
    width: 50%;
}

.payment-container {
    @include flexBox();
    padding-top: 16px;
    
}

.form-container {
    @include flexBox();
    width: 100%;
    column-gap: 16px;
}

.mortgage-card-content {
    padding: 16px 32px;
    @include flexBox();
    @include flexDirection(column);
}

.row-container {
    column-gap: 4px;
    @include flexBox();
    @include flexWrap(wrap);
    @include alignItems(center);
}

.mortperiod-container {
    @extend .row-container;
    .mortperiod-years {
        width: 50%;
    }
    .mortperiod-months {
        width: 40%;
    }
}

.calculate-button {
    margin-top: 24px;
    background-color: #335075;
    border-color: #335075;
}

.mc-tooltip {
    font-size: 16px;
}

.mortgage-summary {
    table {
        width: 100%;
        box-shadow: none !important;
        border: 1px solid #ddd;
        th {
            border-right: 1px solid #ddd;
            font-weight: 700;
            font-size: 16px;
            color: #333;
        }
        th:not(:first-child) {
            padding-left: 24px;
        }
    }
    caption {
        caption-side: top;
        text-align: center;
        font-size: 1.1em;
        color: #333;
        font-weight: 700;
    }

    .mat-row:nth-child(odd){
        background-color: #f5f5f5;
    }

    .mat-cell {
        border-right: 1px solid #ddd;
    }

    .mat-cell:not(:first-child) {
        padding-left: 24px;
    }


}