@import "../../../styles.scss";

$primary: map-get($theme, primary);

.heading-container {
    @include flexBox();
    @include alignItems(center);
    span {
        padding-left: 8px;
        font-size: 2em;
    }
    
}

mat-divider {
    margin-top: 12px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #af3c43 !important;
}

mat-card.mortgage-card {
    padding: 0;
    background: white;
    
    // For large viewport
    width: 50%;
    
    // Medium and small viewport
    @media only screen and (max-width: $mediumViewPort) {
        width: 100%;
    }

    border: 1px solid mat-color($primary);
    box-shadow: none !important;
    mat-card-header {
        color: #fff;
        background-color: mat-color($primary);
        border-color: mat-color($primary);
        height: 42px;
        @include alignItems(center);
        mat-card-title {
            margin: 0;
        }
    }
}

mat-card.mortgage-card:not(:first-child) {
    // For small viewport
    @media only screen and (max-width: $mediumViewPort) {
        margin-top: 16px;
    }
    
}

mat-form-field {
    width: 50%;
    // Wrap limit
    @media only screen and (max-width: 640px) {
        width: 90%;
    }
}

.payment-container {
    @include flexBox();
    padding-top: 16px;
    form {
        width: 100%;
    }
}

.form-container {
    @include flexBox();
    width: 100%;
    // For medium viewport
    @media only screen and (min-width: 641px) {
        column-gap: 16px;
    }
    // For small viewport
    @media only screen and (max-width: $mediumViewPort) {
        
        @include flexWrap(wrap);
    }
    
}

.mortgage-card-content {
    padding: 16px 32px;
    @include flexBox();
    @include flexDirection(column);
}

.row-container {
    column-gap: 4px;
    @include flexBox();
    @include flexWrap(wrap);
    @include alignItems(center);
}

.mortperiod-container {
    @extend .row-container;
    .mortperiod-years {
        width: 50%;
        // Wrap limit
        @media only screen and (max-width: 640px) {
            width: 90%;
        }
    }
    .mortperiod-months {
        width: 40%;
        // Wrap limit
        @media only screen and (max-width: 640px) {
            width: 90%;
        }
    }
}

.calculate-button, .summary-report-button {
    margin-top: 24px;
    background-color: #335075 !important;
    border-color: #335075 !important;
    color: white !important;
}

.btn-primary:active {
    background-color: #335075 !important;
    border-color: #335075 !important;
    color: white !important;
}

.mc-tooltip {
    font-size: 16px;
}

.calculation-summary {
    padding-top: 32px;
}

.calculation-summary, .payment-container {
    table {
        width: 100%;
        box-shadow: none !important;
        border: 1px solid #ddd;
        th {
            border-right: 1px solid #ddd;
            font-weight: 700;
            font-size: 16px;
            color: #333;
        }
        th:not(:first-child) {
            padding-left: 24px;
        }
    }
    caption {
        caption-side: top;
        text-align: center;
        font-size: 18px;
        color: #333;
        font-weight: 700;
    }

    .mat-row:nth-child(odd){
        background-color: #f5f5f5;
    }

    .mat-cell {
        border-right: 1px solid #ddd;
        width: 30%;
    }

    .mat-cell:not(:first-child) {
        padding-left: 24px;
    }

}

.mortgage-summary-container {
    padding-top: 38px;
    h2 {
        padding-bottom: 12px;
    }
    p {
        font-size: 16px;
        line-height: 23px;
    }
    li {
        font-size: 16px;
        line-height: 23px;
    }
}